html, body {
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

#App {
  width: 400px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

input[type='text'] {
  all: unset;
  text-align: left;
  padding: 8px;
  margin: 10px 0px 0px 0px;
  width: 360px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input[type='text'].modify  {
  border: solid 1px white;
}

input[type='submit'] {
  display: none;
}

ul {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

li {
  height: 28px;
}

li.modify {
  text-decoration: underline;
}

button {
  all: unset;
  margin: 0 2px;
  border: 0;
  cursor: pointer;
  height: 26px;
}

.checked {
  text-decoration:line-through;
}

.right {
  float: right;
}